In [9]:
# set up environment
import numpy as np
import pandas as pd
import os
from datetime import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

# get current working directory
os.getcwd()
# change working directory
os.chdir('C:/Users/justi/Documents/GitHub/olist/data')
os.getcwd()
!ls

olist_customers_dataset.csv
olist_df_select.csv
olist_geolocation_dataset.csv
olist_order_items_dataset.csv
olist_order_payments_dataset.csv
olist_order_reviews_dataset.csv
olist_orders_dataset.csv
olist_products_dataset.csv
olist_sellers_dataset.csv
product_category_name_translation.csv

In [62]:
customers = pd.read_csv('olist_customers_dataset.csv')
items = pd.read_csv('olist_order_items_dataset.csv')
payments = pd.read_csv('olist_order_payments_dataset.csv')
reviews = pd.read_csv('olist_order_reviews_dataset.csv')
orders = pd.read_csv('olist_orders_dataset.csv')
products = pd.read_csv('olist_products_dataset.csv')
sellers = pd.read_csv('olist_sellers_dataset.csv')
translation = pd.read_csv('product_category_name_translation.csv')
geolocation = pd.read_csv('olist_geolocation_dataset.csv')

In [66]:
the_df = {'customers': customers,
              'items': items, 
              'payments': payments, 
              'orders': orders, 
              'products': products, 
              'sellers': sellers, 
              'reviews': reviews,
              'categories': translation,
              'geolocation': geolocation}
print("_______________________________________________________________________________________________")
print("Description of the {} dataframes".format(len(the_df)))
print("_______________________________________________________________________________________________")
for i, j in the_df.items():
    print('{} dataframe:      {} rows and {} columns'.format(str(i),j.shape[0],j.shape[1]))
    print(list(j.columns))
    print("")
print("________________________________________________________________________________________________")

_______________________________________________________________________________________________
Description of the 9 dataframes
_______________________________________________________________________________________________
customers dataframe:      99441 rows and 5 columns
['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']

items dataframe:      112650 rows and 7 columns
['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']

payments dataframe:      103886 rows and 5 columns
['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']

orders dataframe:      99441 rows and 8 columns
['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

products dataframe:      32951 rows and 9 columns
['product_id', 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

sellers dataframe:      3095 rows and 4 columns
['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state']

reviews dataframe:      100000 rows and 7 columns
['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp']

categories dataframe:      71 rows and 2 columns
['product_category_name', 'product_category_name_english']

geolocation dataframe:      1000163 rows and 5 columns
['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng', 'geolocation_city', 'geolocation_state']

________________________________________________________________________________________________

In [68]:
# get data from github repo on hard disk
olist = pd.merge(orders, customers, on="customer_id")
olist = olist.merge(items, on='order_id')
olist = olist.merge(payments, on="order_id")
olist = olist.merge(sellers, on='seller_id')
olist = olist.merge(products, on='product_id')
olist = olist.merge(translation, on='product_category_name')
olist = olist.merge(reviews, on='order_id')

In [69]:
olist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116581 entries, 0 to 116580
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       116581 non-null  object
 1   customer_id                    116581 non-null  object
 2   order_status                   116581 non-null  object
 3   order_purchase_timestamp       116581 non-null  object
 4   order_approved_at              116567 non-null  object
 5   order_delivered_carrier_date   115368 non-null  object
 6   order_delivered_customer_date  114066 non-null  object
 7   order_estimated_delivery_date  116581 non-null  object
 8   customer_unique_id             116581 non-null  object
 9   customer_zip_code_prefix       116581 non-null  int64
 10  customer_city                  116581 non-null  object
 11  customer_state                 116581 non-null  object
 12  order_item_id                  116581 non-null  int64
 13  product_id                     116581 non-null  object
 14  seller_id                      116581 non-null  object
 15  shipping_limit_date            116581 non-null  object
 16  price                          116581 non-null  float64
 17  freight_value                  116581 non-null  float64
 18  payment_sequential             116581 non-null  int64
 19  payment_type                   116581 non-null  object
 20  payment_installments           116581 non-null  int64
 21  payment_value                  116581 non-null  float64
 22  seller_zip_code_prefix         116581 non-null  int64
 23  seller_city                    116581 non-null  object
 24  seller_state                   116581 non-null  object
 25  product_category_name          116581 non-null  object
 26  product_name_lenght            116581 non-null  float64
 27  product_description_lenght     116581 non-null  float64
 28  product_photos_qty             116581 non-null  float64
 29  product_weight_g               116580 non-null  float64
 30  product_length_cm              116580 non-null  float64
 31  product_height_cm              116580 non-null  float64
 32  product_width_cm               116580 non-null  float64
 33  product_category_name_english  116581 non-null  object
 34  review_id                      116581 non-null  object
 35  review_score                   116581 non-null  int64
 36  review_comment_title           13996 non-null   object
 37  review_comment_message         49878 non-null   object
 38  review_creation_date           116581 non-null  object
 39  review_answer_timestamp        116581 non-null  object
dtypes: float64(10), int64(6), object(24)
memory usage: 36.5+ MB

In [11]:
olist.head(5)

,Unnamed: 0,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,...,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,product_category_name,purchase_wk_day,purchase_month,cust_deliv_estimat,cust_deliv_estimat-days
0,0.0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,...,4.0,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48,utilidades_domesticas,Monday,October,7 days 02:34:47,7.0
1,1.0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,...,4.0,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48,utilidades_domesticas,Monday,October,7 days 02:34:47,7.0
2,2.0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,...,4.0,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48,utilidades_domesticas,Monday,October,7 days 02:34:47,7.0
3,3.0,8736140c61ea584cb4250074756d8f3b,ab8844663ae049fda8baf15fc928f47f,delivered,2017-08-10 13:35:55,2017-08-10 13:50:09,2017-08-11 13:52:35,2017-08-16 19:03:36,2017-08-23 00:00:00,02c9e0c05a817d4562ec0e8c90f29dba,...,5.0,NaN,"custo beneficio, simples de usar e rápido",2017-08-17 00:00:00,2017-08-21 12:43:27,bebes,Thursday,August,6 days 04:56:24,6.0
4,4.0,a0151737f2f0c6c0a5fd69d45f66ceea,fc2697314ab7fbeda62bb6f1afa4efcd,delivered,2017-07-12 14:11:58,2017-07-12 14:30:18,2017-07-13 12:47:05,2017-07-18 16:24:42,2017-07-25 00:00:00,bdd30e6e39cc70dde8665187b57af402,...,4.0,NaN,NaN,2017-07-19 00:00:00,2017-07-24 13:59:59,cool_stuff,Wednesday,July,6 days 07:35:18,6.0

In [75]:
#changing attributes data types
continuous_features = ['price','freight_value', 'payment_sequential','payment_installments','payment_value',
                      'product_name_lenght','product_description_lenght', 'product_photos_qty','product_weight_g',
                      'product_length_cm','product_height_cm','product_width_cm', 'review_score'] 

cat_features = ['order_status', 'customer_city', 'customer_state', 'customer_zip_code_prefix', 'seller_zip_code_prefix', 
                'seller_city', 'seller_state', 'product_category_name','product_category_name_english','review_id',
               'review_comment_title','review_comment_message','payment_type',
               'order_item_id', 'product_id','seller_id','order_id', 'customer_id','customer_unique_id'] 

date_features = ['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date',
                 'order_estimated_delivery_date', 'shipping_limit_date', 'review_creation_date', 'review_answer_timestamp']

In [76]:
# use the "astype" function to change the variable type
olist[continuous_features] = olist.copy()[continuous_features].astype(np.float64)
olist[cat_features] = olist.copy()[cat_features].astype("category")


olist.info() # now our data looks better!!

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116581 entries, 0 to 116580
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       116581 non-null  category
 1   customer_id                    116581 non-null  category
 2   order_status                   116581 non-null  category
 3   order_purchase_timestamp       116581 non-null  object
 4   order_approved_at              116567 non-null  object
 5   order_delivered_carrier_date   115368 non-null  object
 6   order_delivered_customer_date  114066 non-null  object
 7   order_estimated_delivery_date  116581 non-null  object
 8   customer_unique_id             116581 non-null  category
 9   customer_zip_code_prefix       116581 non-null  category
 10  customer_city                  116581 non-null  category
 11  customer_state                 116581 non-null  category
 12  order_item_id                  116581 non-null  category
 13  product_id                     116581 non-null  category
 14  seller_id                      116581 non-null  category
 15  shipping_limit_date            116581 non-null  object
 16  price                          116581 non-null  float64
 17  freight_value                  116581 non-null  float64
 18  payment_sequential             116581 non-null  float64
 19  payment_type                   116581 non-null  category
 20  payment_installments           116581 non-null  float64
 21  payment_value                  116581 non-null  float64
 22  seller_zip_code_prefix         116581 non-null  category
 23  seller_city                    116581 non-null  category
 24  seller_state                   116581 non-null  category
 25  product_category_name          116581 non-null  category
 26  product_name_lenght            116581 non-null  float64
 27  product_description_lenght     116581 non-null  float64
 28  product_photos_qty             116581 non-null  float64
 29  product_weight_g               116580 non-null  float64
 30  product_length_cm              116580 non-null  float64
 31  product_height_cm              116580 non-null  float64
 32  product_width_cm               116580 non-null  float64
 33  product_category_name_english  116581 non-null  category
 34  review_id                      116581 non-null  category
 35  review_score                   116581 non-null  float64
 36  review_comment_title           13996 non-null   category
 37  review_comment_message         49878 non-null   category
 38  review_creation_date           116581 non-null  object
 39  review_answer_timestamp        116581 non-null  object
dtypes: category(19), float64(13), object(8)
memory usage: 41.4+ MB

In [78]:
# fix dates

for i in date_features:
    olist.loc[:,i] = pd.to_datetime(olist.copy().loc[:,i], errors="coerce")

In [79]:
olist.info() # now our data looks better!!

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116581 entries, 0 to 116580
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       116581 non-null  category
 1   customer_id                    116581 non-null  category
 2   order_status                   116581 non-null  category
 3   order_purchase_timestamp       116581 non-null  datetime64[ns]
 4   order_approved_at              116567 non-null  datetime64[ns]
 5   order_delivered_carrier_date   115368 non-null  datetime64[ns]
 6   order_delivered_customer_date  114066 non-null  datetime64[ns]
 7   order_estimated_delivery_date  116581 non-null  datetime64[ns]
 8   customer_unique_id             116581 non-null  category
 9   customer_zip_code_prefix       116581 non-null  category
 10  customer_city                  116581 non-null  category
 11  customer_state                 116581 non-null  category
 12  order_item_id                  116581 non-null  category
 13  product_id                     116581 non-null  category
 14  seller_id                      116581 non-null  category
 15  shipping_limit_date            116581 non-null  datetime64[ns]
 16  price                          116581 non-null  float64
 17  freight_value                  116581 non-null  float64
 18  payment_sequential             116581 non-null  float64
 19  payment_type                   116581 non-null  category
 20  payment_installments           116581 non-null  float64
 21  payment_value                  116581 non-null  float64
 22  seller_zip_code_prefix         116581 non-null  category
 23  seller_city                    116581 non-null  category
 24  seller_state                   116581 non-null  category
 25  product_category_name          116581 non-null  category
 26  product_name_lenght            116581 non-null  float64
 27  product_description_lenght     116581 non-null  float64
 28  product_photos_qty             116581 non-null  float64
 29  product_weight_g               116580 non-null  float64
 30  product_length_cm              116580 non-null  float64
 31  product_height_cm              116580 non-null  float64
 32  product_width_cm               116580 non-null  float64
 33  product_category_name_english  116581 non-null  category
 34  review_id                      116581 non-null  category
 35  review_score                   116581 non-null  float64
 36  review_comment_title           13996 non-null   category
 37  review_comment_message         49878 non-null   category
 38  review_creation_date           116581 non-null  datetime64[ns]
 39  review_answer_timestamp        116581 non-null  datetime64[ns]
dtypes: category(19), datetime64[ns](8), float64(13)
memory usage: 41.4 MB

In [104]:
# count NAs in the dataframe by column
olist.isnull().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                    14
order_delivered_carrier_date       1213
order_delivered_customer_date      2515
order_estimated_delivery_date         0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
order_item_id                         0
product_id                            0
seller_id                             0
shipping_limit_date                   0
price                                 0
freight_value                         0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
seller_zip_code_prefix                0
seller_city                           0
seller_state                          0
product_category_name                 0
product_name_lenght                   0
product_description_lenght            0
product_photos_qty                    0
product_weight_g                      0
product_length_cm                     0
product_height_cm                     0
product_width_cm                      0
product_category_name_english         0
review_id                             0
review_score                          0
review_comment_title             102584
review_comment_message            66702
review_creation_date                  0
review_answer_timestamp               0
dtype: int64

In [105]:
# which rows have NAs - specifically those with just 3, I am thinking they are the same rows
olist[olist['product_weight_g'].isnull()]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value, payment_sequential, payment_type, payment_installments, payment_value, seller_zip_code_prefix, seller_city, seller_state, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm, product_category_name_english, review_id, review_score, review_comment_title, review_comment_message, review_creation_date, review_answer_timestamp]
Index: []

[0 rows x 40 columns]

In [86]:
# let's remove the 1 row with no product weight, height, etc information since we have plenty of other data to work with
# drop function axis=0 is rows axis=1 is columns
olist = olist.drop([10701],axis=0)

In [106]:
olist.isnull().sum()
#looks like a lot of missing data information, comments (no surprise), category names

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                    14
order_delivered_carrier_date       1213
order_delivered_customer_date      2515
order_estimated_delivery_date         0
customer_unique_id                    0
customer_zip_code_prefix              0
customer_city                         0
customer_state                        0
order_item_id                         0
product_id                            0
seller_id                             0
shipping_limit_date                   0
price                                 0
freight_value                         0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
seller_zip_code_prefix                0
seller_city                           0
seller_state                          0
product_category_name                 0
product_name_lenght                   0
product_description_lenght            0
product_photos_qty                    0
product_weight_g                      0
product_length_cm                     0
product_height_cm                     0
product_width_cm                      0
product_category_name_english         0
review_id                             0
review_score                          0
review_comment_title             102584
review_comment_message            66702
review_creation_date                  0
review_answer_timestamp               0
dtype: int64

In [117]:
# what is going on with those delivery dates missing?
delivery_na = olist[olist['order_delivered_customer_date'].isnull()]

# let's see the unique values of order status for deliveries that are listed as NaN
delivery_na['order_status'].unique()

[shipped, canceled, invoiced, processing, approved, unavailable, delivered]
Categories (7, object): [shipped, canceled, invoiced, processing, approved, unavailable, delivered]

In [122]:
# create a boolean variable to filter the the order_delivery NaNs by orders that were cancelled
is_canceled = delivery_na['order_status'] == "canceled"

#filter the dataframe by the cancelled orders
no_delivery = delivery_na[is_canceled]

#show how many orders were cancelled
print(no_delivery.shape)
# 546 orders were cancelled and never delivered

(546, 40)

In [123]:
# looking at a sample of the cancelled orders
no_delivery.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
511,5f0dfd096a455e93ffb4ee0635b32264,b03efbab821a8ef7b3e6b2a75ec7d74d,canceled,2018-07-29 15:15:39,2018-07-29 15:25:09,NaT,NaT,2018-08-02,5946c7eb7093ad678e3510213f1b6f09,2250,...,16.0,5.0,12.0,housewares,95c7c13cf2056bf0cca12834803a80a6,4.0,NaN,NaN,2018-08-04,2018-08-06 11:00:22
930,013e9c654a339d80b53513da3c1ea437,9391729f79cd9e5fd7ca884ca030f579,canceled,2017-06-18 13:48:48,2017-06-18 13:55:18,NaT,NaT,2017-07-07,05a3b50193563913613acada5c86b1d2,18710,...,39.0,6.0,28.0,housewares,ca13795db8e305829cb406ef608d87f9,1.0,NaN,Recebi um comunicado que não teria o produto n...,2017-07-09,2017-07-09 13:34:47
1022,0148d3df00cebda592d4e5f966e300cc,672510553bcfbf72de694db2cd88f046,canceled,2017-08-19 19:08:26,2017-08-19 19:24:32,NaT,NaT,2017-09-11,e75fd09539dff5c7c80a12781404ffea,4078,...,28.0,17.0,11.0,housewares,8d697839be8221452e9d4f96347d0612,1.0,NaN,PRODUTO NÃO RECEBIDO,2017-09-13,2017-09-13 16:23:19
1023,0148d3df00cebda592d4e5f966e300cc,672510553bcfbf72de694db2cd88f046,canceled,2017-08-19 19:08:26,2017-08-19 19:24:32,NaT,NaT,2017-09-11,e75fd09539dff5c7c80a12781404ffea,4078,...,28.0,17.0,11.0,housewares,8d697839be8221452e9d4f96347d0612,1.0,NaN,PRODUTO NÃO RECEBIDO,2017-09-13,2017-09-13 16:23:19
1024,0148d3df00cebda592d4e5f966e300cc,672510553bcfbf72de694db2cd88f046,canceled,2017-08-19 19:08:26,2017-08-19 19:24:32,NaT,NaT,2017-09-11,e75fd09539dff5c7c80a12781404ffea,4078,...,28.0,17.0,11.0,housewares,8d697839be8221452e9d4f96347d0612,1.0,NaN,PRODUTO NÃO RECEBIDO,2017-09-13,2017-09-13 16:23:19

In [125]:
# create boolean variable for orders that were unavailable
is_unavail = delivery_na['order_status'] == "unavailable"

#filter by unavailable orders
no_delivery_unavail = delivery_na[is_unavail]

print(no_delivery_unavail.shape)

# 7 orders were not delivered because they were unavailable

no_delivery_unavail.head()

(7, 40)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
10818,2fd1c83dd4714cf3cf796fffb6c8de62,7f51c513004ef3f35e834c142f286778,unavailable,2016-10-05 17:21:29,2016-10-06 15:55:40,NaT,NaT,2016-11-29,30fceee7cb0dbe6926f2b1128f2b3648,31910,...,22.0,20.0,28.0,baby,033baa4238fcac803931108093d2456a,1.0,NaN,Prazo não foi cumprido ... até hoje não chegou...,2016-12-01,2016-12-03 09:21:38
10819,2fd1c83dd4714cf3cf796fffb6c8de62,7f51c513004ef3f35e834c142f286778,unavailable,2016-10-05 17:21:29,2016-10-06 15:55:40,NaT,NaT,2016-11-29,30fceee7cb0dbe6926f2b1128f2b3648,31910,...,33.0,13.0,29.0,baby,033baa4238fcac803931108093d2456a,1.0,NaN,Prazo não foi cumprido ... até hoje não chegou...,2016-12-01,2016-12-03 09:21:38
14898,54bb06e1ca86bd99ee2a8d6288bf4ede,98bfbf477ed9f40a0264f5e527a446be,unavailable,2016-10-06 13:38:39,2016-10-06 14:22:19,NaT,NaT,2016-12-12,8aa802da0f525a68e7fae5e67929ebdd,18147,...,20.0,30.0,40.0,cool_stuff,50c851bd79dc0b19f3d9c523ca747df8,1.0,NaN,"Produto não entregue, demoraram mais de um mês...",2016-12-14,2016-12-16 09:34:47
38978,1a47da1d66c70489c8e35fe2b5433ab7,3d8e326c3cef3a9bba7ca121baac5fc3,unavailable,2016-10-07 18:16:31,2016-10-07 18:53:48,NaT,NaT,2016-12-07,b18b6d40c3c5510727e0f22b568d3e1f,91430,...,22.0,14.0,16.0,perfumery,35fa5e7e3020710116f5ff6df38b2a59,5.0,NaN,NaN,2016-12-09,2016-12-09 11:25:52
39335,4dd47e84e6b8ff4a63d0b8425e6d788e,96bbcbc8372c86da857d842dfda6bd72,unavailable,2016-10-06 23:49:18,2016-10-07 01:09:08,NaT,NaT,2016-11-24,e347a8d0bfec0255258cc913ed28d3a9,28010,...,20.0,17.0,17.0,perfumery,deab3ad3f78fd4ef275d9788978b92c9,1.0,NaN,Em 2 meses de espera não recebi o produto. Div...,2016-11-27,2016-11-28 12:01:22

In [130]:
#how many orders are showing as delivered but no delivery date is recorded?
no_date = delivery_na['order_status'] == 'delivered'
invoiced = delivery_na['order_status'] == 'invoiced'

# filter the dataframe
no_date_delivered = delivery_na[no_date]
no_date_invoiced = delivery_na[invoiced]

print(no_date_delivered.shape)
no_date_delivered

(8, 40)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
23922,2d858f451373b04fb5c984a1cc2defaf,e08caf668d499a6d643dafd7c5cc498a,delivered,2017-05-25 23:22:43,2017-05-25 23:30:16,NaT,NaT,2017-06-23,d77cf4be2654aa70ef150f8bfec076a6,91330,...,26.0,26.0,26.0,sports_leisure,4e755f114e50d33b9ac6a56e0d7d3ea9,5.0,NaN,NaN,2017-06-25,2017-06-27 01:49:04
28097,0d3268bad9b086af767785e3f0fc0133,4f1d63d35fb7c8999853b2699f5c7649,delivered,2018-07-01 21:14:02,2018-07-01 21:29:54,2018-07-03 09:28:00,NaT,2018-07-24,ebf7e0d43a78c81991a4c59c145c75db,13560,...,37.0,23.0,27.0,toys,ee2d30652e2f7fc00861074f795f5bf0,5.0,Excelente!,O produto chegou muito antes do prazo previsto...,2018-07-06,2018-07-07 18:48:09
52971,2d1e2d5bf4dc7227b3bfebb81328c15f,ec05a6d8558c6455f0cbbd8a420ad34f,delivered,2017-11-28 17:44:07,2017-11-28 17:56:40,2017-11-30 18:12:23,NaT,2017-12-18,13467e882eb3a701826435ee4424f2bd,18520,...,67.0,10.0,67.0,auto,f48c6c944a5d52dcca8ac5c4ec417cf2,5.0,NaN,Chegou rápido tudo ok,2017-12-19,2017-12-19 04:15:39
63184,2ebdfc4f15f23b91474edf87475f108e,29f0540231702fda0cfdee0a310f11aa,delivered,2018-07-01 17:05:11,2018-07-01 17:15:12,2018-07-03 13:57:00,NaT,2018-07-30,1bd06a0c0df8b23dacfd3725d2dc0bb9,12445,...,16.0,14.0,14.0,watches_gifts,25e11638a3d01a87e8e62338a39eee28,5.0,NaN,NaN,2018-07-11,2018-07-11 19:27:46
63192,e69f75a717d64fc5ecdfae42b2e8e086,cfda40ca8dd0a5d486a9635b611b398a,delivered,2018-07-01 22:05:55,2018-07-01 22:15:14,2018-07-03 13:57:00,NaT,2018-07-30,3bc508d482a402715be4d5cf4020cc81,13170,...,16.0,14.0,14.0,watches_gifts,bb311d9562ecbefc8e4be756d8999892,5.0,NaN,NaN,2018-07-07,2018-07-10 11:38:13
69396,ab7c89dc1bf4a1ead9d6ec1ec8968a84,dd1b84a7286eb4524d52af4256c0ba24,delivered,2018-06-08 12:09:39,2018-06-08 12:36:39,2018-06-12 14:10:00,NaT,2018-06-26,cce5e8188bf42ffb3bb5b18ff58f5965,7261,...,16.0,15.0,20.0,computers_accessories,0d4c56af896dd6eb9de8edbaa1902d22,1.0,Péssimo,Comprei um produto de uma marca e recebi outro...,2018-06-16,2018-06-16 13:55:00
112955,f5dd62b788049ad9fc0526e3ad11a097,5e89028e024b381dc84a13a3570decb4,delivered,2018-06-20 06:58:43,2018-06-20 07:19:05,2018-06-25 08:05:00,NaT,2018-07-16,2f17c5b324ad603491521b279a9ff4de,18255,...,36.0,51.0,18.0,industry_commerce_and_business,c0dd6bec0375c376f044af102118526f,5.0,Entrega super rápida.,"Produto novo, muito bom.",2018-06-29,2018-06-29 16:26:37
114295,20edc82cf5400ce95e1afacc25798b31,28c37425f1127d887d7337f284080a0f,delivered,2018-06-27 16:09:12,2018-06-27 16:29:30,2018-07-03 19:26:00,NaT,2018-07-19,175378436e2978be55b8f4316bce4811,9431,...,26.0,7.0,36.0,books_general_interest,d055795a562efffefe47ef81e5435322,5.0,Muito bom,Adorei,2018-07-06,2018-07-06 20:30:17

In [133]:
print(no_date_invoiced.shape)
no_date_invoiced

(364, 40)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
762,d02adc4aef085f611aaf9e975642926a,fc78016bbb85f3105bfd610141fde114,invoiced,2017-07-28 13:42:40,2017-07-29 02:24:01,NaT,NaT,2017-08-21,8483dc16ca810a9454e1574f4d60bbf1,38910,...,26.0,47.0,27.0,housewares,eaaa0ed3c5cbb672cbc410b2d501ac20,5.0,NaN,NaN,2017-08-24,2017-08-24 14:09:43
1642,82ba09cde004c6bcefd36545670ac5de,61523d11d253c053d2567669b8e761d6,invoiced,2017-12-05 21:34:58,2017-12-05 21:58:41,NaT,NaT,2017-12-29,bb0b33b8f223581965edf90caccedcfc,6473,...,23.0,5.0,23.0,housewares,b7cc279f0b1f6de66150c86ba0418587,1.0,NaN,NaN,2017-12-31,2018-01-09 21:34:59
1746,f837f3ebff8ee27bdac13d56cb22e5be,20bf7628a9208e11a8d7189b693cbd3f,invoiced,2017-09-21 20:02:44,2017-09-22 20:10:11,NaT,NaT,2017-10-19,ed37d07f39a3fdff8e899ff249c87cee,24942,...,30.0,30.0,30.0,housewares,ce9a0c813c06d3511fa4ad33e704b26e,1.0,NaN,NaN,2017-10-22,2017-10-22 10:45:05
2231,065c05543ebdfd79fb629b2b4a6ab904,51d502a84c571171762fbda013cb4e09,invoiced,2018-03-20 18:02:29,2018-03-20 18:15:27,NaT,NaT,2018-04-02,49db5ff32556ff3ac0123ba825bdff2f,1501,...,32.0,32.0,32.0,housewares,8ed8b84117127bde20d83b08163a485b,5.0,NaN,Satisfatório!,2018-04-04,2018-04-06 14:16:43
2232,065c05543ebdfd79fb629b2b4a6ab904,51d502a84c571171762fbda013cb4e09,invoiced,2018-03-20 18:02:29,2018-03-20 18:15:27,NaT,NaT,2018-04-02,49db5ff32556ff3ac0123ba825bdff2f,1501,...,32.0,32.0,32.0,housewares,8ed8b84117127bde20d83b08163a485b,5.0,NaN,Satisfatório!,2018-04-04,2018-04-06 14:16:43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116390,9d6e7e70e068602fa740fc3163cefd3b,066bab10d1281abb5baefa5d7772cce0,invoiced,2017-10-30 14:25:15,2017-10-31 04:15:15,NaT,NaT,2017-12-29,f8ac33ce25aad89ade14c52fac3cc452,90430,...,40.0,54.0,40.0,furniture_bedroom,699b21c7a26472e4032adf124631dc04,5.0,NaN,NaN,2018-01-04,2018-05-09 11:45:06
116391,9d6e7e70e068602fa740fc3163cefd3b,066bab10d1281abb5baefa5d7772cce0,invoiced,2017-10-30 14:25:15,2017-10-31 04:15:15,NaT,NaT,2017-12-29,f8ac33ce25aad89ade14c52fac3cc452,90430,...,40.0,54.0,40.0,furniture_bedroom,1c9023a88f4effba4abbf114c58bedba,4.0,NaN,NaN,2017-11-09,2017-11-13 23:23:05
116465,10a8ab52ea001eb59beb9c0f97d72eab,7dd6b8c6aa412198c9b992768af8683a,invoiced,2018-08-07 02:42:38,2018-08-07 02:55:15,NaT,NaT,2018-08-16,07d68754c24064a94aba128946c715b3,4746,...,20.0,20.0,20.0,cine_photo,bfe38db9ef7a38ee6aa3dfc1e8c664e6,1.0,PRODUTO NÃO RECEBIDO,O produto não foi recebido além de não ter rec...,2018-08-18,2018-08-18 16:50:30
116512,b5d9716785ce349830c74805f925c745,5f2ff53e9d5e23d67e5245bb3c68d6d0,invoiced,2017-11-16 14:38:35,2017-11-16 14:51:05,NaT,NaT,2017-12-05,009a0802534f904b40b9d512b49794e1,22210,...,33.0,6.0,22.0,books_imported,baea8db447a9994476de5069cc110a32,5.0,NaN,NaN,2017-12-07,2017-12-07 02:55:09
116562,442a41b00a8a8bda35511fdf1eb65cc5,e42e2e8642f9c09100b6667e321c2811,invoiced,2018-07-11 22:27:32,2018-07-11 22:45:43,NaT,NaT,2018-07-20,f84487fed78baf25458828c99a2daa5d,3402,...,25.0,2.0,30.0,books_imported,633538990df4c5fb118483feb8557347,1.0,Atraso na entrega,O pedido do produto foi realizado no dia 11/07...,2018-07-22,2018-07-24 13:06:43

We have 2515 orders missing a customer delivery date. It appears there were 564 cancelled orders, 7 orders that were unavailable, 8 orders that show as delivered but are missing delivery dates and 364 orders that were invoiced but there is no record of the orders being delivered. Other reasons we don't have delivery data is because at the time the data was pulled, an order could've been shipped, processing or approved or otherwise still in the process of making it's way to the customer. These are just good things to note, we may consider just removing all 2500 lines since we have so much data already.